h1{
    font-size: 1.80em;
    font-weight: bold;
}

.nav{
    font-family: Arial;
    font-size: 1.5em;
}

p{
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
}

input{
    margin: 10px;
    margin-left: 30px;
    align-self: center;
}

.button{
    /*margin-left: 11.5em;*/
    align-self: flex-end;
}

a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.05)
}