<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<body>

    <style>
        .upload{
            position: fixed;
            bottom: 0;
            right: 0;
        }
        aside{
            min-width: 150px;
            padding-bottom: 100%;
        }
        section {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;
            grid-auto-rows: minmax(300px, auto);
        }
        .file:hover{
            background-color: rgb(220,220,220);
        }
        .fileSection{
            overflow-y: auto;
            width: 100%;
        }
    </style>
    
    <div class="flex  h-full fixed">
        <aside class="self-start flex flex-col items-center border">
            <img src="{{ url_for('static', filename='img/icons/user.png') }}" alt="user"/>
            <figcaption>{{ username }}</figcaption>
            <a href="">settings</a>
            <a href="{{ url_for('logout')}}">logout</a>
        </aside>

        <div class="fileSection">
            <header class="sticky pin-t bg-white z-40 overflow-hidden">
                <nav class="p-4">
                    <div class="flex">
                        <p class="pl-4">Files: {{ count }}</p>

                        <form class="form pl-4" method="POST">
                            <p class="">
                                <select class="input" name="extensions" id="ext">
                                    <option value="None" selected disabled>filtrer par extension</option>
                                </select>
                            </p>
                        </form>
                        
                        <form class="form pl-4" method="POST">
                            <p>
                                <select class="input" name="order" id="order">
                                    <option value="None" selected disabled>trier par ordre</option>
                                    <option value="ASC">Croissant</option>
                                    <option value="DESC">Décroissant</option>
                                    <option value="alpha">Alphabétique</option>
                                </select>
                            </p>
                        </form>

                        <form class="pl-4" method="POST">
                            <p>
                                <input type="text" name="search" class="border rounded-lg p-2"/>
                                <input type="submit" value="Rechercher" class="border rounded p-1"/>
                            </p>
                        </form>

                    </div>
                </nav>
            </header>
            <section class="items-center">
                {% for file in files %}
                    <div class="file m-4 h-64 border rounded flex flex-col justify-center items-center overflow-hidden shadow-lg" title="{{ file[3] }}">
                        <img class="file self-center" id="{{ file[2] }}" src="" alt=""/></br>
                        <p>{{ file[2] }}</p>
                        <div>
                            <a href="{{ url_for('static', filename='uploads/'+file[2]) }}" download>Download</a>
                            <a href="{{ url_for('delete', post_id=file[0]) }}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </section></br>
        </div>

    </div>

    <form method="POST" enctype="multipart/form-data" class="upload form z-40">
        <input class="input" type="file" name="file" id="upload" hidden>
        <label for='upload' class="cursor-pointer pr-20"><img src="{{ url_for('static', filename='img/icons/add.png') }}" alt=""></label>
    </form>

    <script src="{{ url_for('static', filename='js/extensions.js') }}"></script>

</body>
</html>