<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company name</title>
</head>
<body>

    <form method="POST">
        <p><input type="text" name="firstName" placeholder="your first name"></p>
        <p><input type="text" name="lastName" placeholder="your last name"></p>
        <p><input type="email" name="email" placeholder="email"></p>
        <p><input type="password" name="password" placeholder="password"></p>
        <input type="submit" value="inscription">
    </form>

</body>
</html>